#p3 {
	color: yellow;
}

* {
	font-family: "sans-serif;", monospace;
	font-size: 15px;
}

h1 {
	font-size: 50px;
	font-weight: b;
}

#hh2 {
	text-transform: uppercase;
}

.learn {
	background-color: lightgreen;
}

 li[type] {
 	border-width: 2px;
 	border-style: solid;
 	border-color: steelblue;
 	width: 90%;
 }

div + h4 {
	list-style-type: none;
	/*color: skyblue;
	text-transform: uppercase;*/
}

#make-it-round img {
	height: 110px;
	border-width: 110px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul {
	letter-spacing: 12px;
}

ul {
	list-style-type: none;
}